.footer

{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}

.sections1


{
    background-color: rgb(8, 70, 184);
    border: 8px solid rgb(82, 106, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}


.t4{
    font-size: 2em;
    color: white;

}

.t3{
    color: gray;
    font-size: 1.1em;
}

.btns{
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    
    width: 200px;
}

.btns:hover




{
    transform: scale(1.2);
    transition: 0.5s;
    background-color: azure;
    color: blue;

}

.sections2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.center p{
    padding: 10px;
}